---
layout: default
---

<div class="home">
  {%- if content and content != "" -%}
  <p style="color:#828282; font-style:italic; margin-bottom:2rem;">{{ content | strip_html | strip }}</p>
  {%- endif -%}

  <p class="posts-heading">Writing</p>

  <div class="post-grid">
    {%- for post in site.posts -%}
    <article class="post-card">
      <a href="{{ post.url | relative_url }}" class="post-card__link">
        <div class="post-card__body">
          <time class="post-card__date" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%b %d, %Y" }}
          </time>
          <div class="post-card__title">{{ post.title | escape }}</div>
          {%- assign excerpt_text = post.excerpt | strip_html | strip | truncatewords: 25 -%}
          {%- if excerpt_text != "" -%}
          <p class="post-card__excerpt">{{ excerpt_text }}</p>
          {%- endif -%}
        </div>
        <span class="post-card__arrow">&#8594;</span>
      </a>
    </article>
    {%- endfor -%}
  </div>
</div>
